.container {
  display: flex;
  flex-direction: column;
  background: #f4f4f4;
  text-align: center;
  max-width: 600px;
  margin: 10px auto;
  border: #333 solid 5px;
  padding: 10px;
}

.item {
  background: #333;
  color: #f4f4f4;
  margin: 20px 10px;
  border-radius: 10px;
  border: none;
  padding: 20px;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

.controls {
  background: #333;
  color: #f4f4f4;
  padding: 50px;
  border-radius: 10px;
  border: none;
  font-size: 30px;
}

.controls p {
  padding-bottom: 20px;
}

.score {
  font-style: italic;
  color: #BCDEFD;
}

.option {
  text-decoration: underline;
  color: #BCDEFD;
}

