* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6em;
  background: url('./images/astro-astronomy-background-956999.jpg') center top;
  overflow: hidden;
}

